.wavies > use{
    animation: waveAround 40s linear infinite;
    &:nth-child(1) { animation-delay:0s; }
    &:nth-child(2) { animation-delay:0s; animation-duration:10s }
    &:nth-child(3) { animation-delay:-0s; animation-duration:26s }
    &:nth-child(4) { animation-delay:-0s; animation-duration:15s }
  }
  
  @keyframes waveAround{
    0% { transform: translate(-90px , 0%) }
    100% { transform: translate(85px , 0%) }
  }
  
