.wavies > use{
    animation: waveAround 40s linear infinite;
    &:nth-child(1) { animation-delay:-2s; }
    &:nth-child(2) { animation-delay:-2s; animation-duration:5s }
    &:nth-child(3) { animation-delay:-4s; animation-duration:6s }
    &:nth-child(4) { animation-delay:-5s; animation-duration:7s }
  }
  
  @keyframes waveAround{
    0% { transform: translate(-90px , 0%) }
    100% { transform: translate(100% , 0%) }
  }
  
